@import url("https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap");
html, body {
  max-width: 100%;
  max-height: 5000px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background: white;
  margin: 0;
  font-family: "Karla", sans-serif;
}

/*MENU BAR*/
/*LOW RESOLUTION (MOBILE)*/
.navbar {
  background: rgb(237, 237, 237);
  height: 80px;
  padding: 0.5em;
}
.navbar .mobile-menu {
  float: right;
  margin-top: -60px;
}
.navbar nav {
  display: none;
}
.navbar .container {
  place-content: space-between;
}
.navbar .mobile-menu {
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav.menu-btn {
  display: block;
}

nav {
  position: fixed;
  z-index: 999;
  width: 15%;
  right: 0;
  top: 0;
  border: solid 1px rgb(237, 237, 237);
  border-radius: 7px;
  background: #ffffff;
  height: 100vh;
  padding: 1em;
}
nav ul.primary-nav {
  margin-top: 5em;
}
nav li a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  display: block;
  padding: 0.9em;
  font-size: 0.9em;
  text-align: right;
  text-underline-offset: 0px;
}
nav li a:hover {
  font-weight: bold;
}

.mobile-menu-exit {
  float: right;
  margin-top: 2em;
  cursor: pointer;
}

/*DESKTOP RESOLUTION*/
@media only screen and (min-width: 768px) {
  .mobile-menu, .mobile-menu-exit {
    display: none;
  }
  .navbar .container {
    display: grid;
    grid-template-columns: 180px auto;
    justify-content: unset;
  }
  .navbar nav {
    display: flex;
    justify-content: space-between;
    background: none;
    border: none;
    position: unset;
    height: auto;
    width: 100%;
    padding-left: 165px;
  }
  .navbar nav ul {
    display: flex;
  }
  .navbar nav a {
    color: black;
    font-size: 1.1em;
    padding-left: 2em;
    margin-top: 0.1em;
  }
  .navbar nav ul.primary-nav {
    margin: 0;
  }
  .navbar nav:hover {
    background: var(--primary-color);
    color: white;
  }
}
/*POPULAR NEWS BANNER*/
/*LOW-RESOLUTION(FOR MOBILE)*/
.popular .container-popular .separator {
  height: 2px;
  background-color: rgb(237, 237, 237);
  margin-left: 30px;
  margin-right: 15px;
}
.popular .container-popular .popular-text {
  margin-left: 250px;
}

/*DESKTOP RESOLUTION*/
@media only screen and (min-width: 768px) {
  .popular .container-popular .separator {
    height: 3px;
    background-color: rgb(237, 237, 237);
    margin-left: 110px;
    margin-right: 700px;
  }
  .popular .container-popular .popular-text {
    margin-left: 310px;
  }
}
/* NEWS SLIDESHOW */
/*LOW RESOLUTION (FOR MOBILE)*/
.slideshow-container {
  max-width: 80px;
  position: relative;
  margin: auto;
}

.slide {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 230px;
  width: auto;
  margin-top: -2px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.next {
  right: -620px;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: #bbb;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  font-family: "Karla", sans-serif;
  padding: -120px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 85px 0 -80px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media only screen and (min-width: 768px) {
  /*DESKTOP RESOLUTION*/
  .slideshow-container {
    max-width: 700px;
    position: relative;
    margin: auto;
  }
  .slide {
    display: none;
  }
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 230px;
    width: auto;
    margin-top: -2px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    background-color: #bbb;
  }
  .text {
    color: #f2f2f2;
    font-size: 15px;
    font-family: "Karla", sans-serif;
    padding: -120px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  .fade {
    -webkit-animation-name: fade;
            animation-name: fade;
    -webkit-animation-duration: 1.5s;
            animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
}
/* LATEST NEWS*/
/*LOW-RESOLUTION (FOR MOBILE)*/
.featured .container-latest .separator {
  height: 2px;
  background-color: rgb(237, 237, 237);
  margin-left: 50px;
  margin-right: 30px;
}
.featured .container-latest .featured-text {
  margin-left: 300px;
}
.featured .container-latest .item .column .inner .featured-image .imgf {
  width: 660px;
  height: 350px;
  margin-left: 50px;
}
.featured .container-latest .item .column .inner .featured-title {
  font-size: 20px;
  margin-left: 52px;
}
.featured .container-latest .item .column .inner .date {
  max-width: 650px;
  font-size: 14px;
  margin-left: 50px;
}
.featured .container-latest .item .column .inner .description {
  max-width: 650px;
  max-height: 100px;
  font-size: 15px;
  margin-left: 50px;
  margin-top: 30px;
}

/*DESKTOP RESOLUTION*/
@media only screen and (min-width: 768px) {
  .featured .container-latest .separator {
    height: 3px;
    background-color: rgb(237, 237, 237);
    margin-left: 110px;
    margin-right: 135px;
  }
  .featured .container-latest .featured-text {
    margin-left: 650px;
  }
  .featured .container-latest .item .column .inner .article-container {
    padding-bottom: 200px;
  }
  .featured .container-latest .item .column .inner .article-container .featured-image .imgf {
    width: 600px;
    height: 300px;
    margin-left: 115px;
  }
  .featured .container-latest .item .column .inner .article-container .featured-title {
    max-width: 650px;
    font-size: 34px;
    margin-left: 800px;
    margin-top: -310px;
  }
  .featured .container-latest .item .column .inner .article-container .date {
    max-width: 650px;
    font-size: 15px;
    margin-left: 800px;
  }
  .featured .container-latest .item .column .inner .article-container .description {
    max-width: 650px;
    max-height: 100px;
    font-size: 18px;
    margin-left: 800px;
    margin-top: 70px;
  }
}
/* LOGIN MODAL*/
/*LOW-RESOLUTION(FOR MOBILE)*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  overflow-y: hidden;
  -webkit-animation-name: fadeIn;
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  margin-top: 130px;
  margin-left: 200px;
  border: 1px solid #888;
  width: 50%;
  height: 60%;
  overflow-y: hidden;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/*LOW-RESOLUTION(FOR MOBILE)*/
input[type=text], select, textarea {
  width: 70%;
  height: 1px;
  padding: 12px;
  margin-top: 30px;
  margin-left: -12px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 4px;
  resize: vertical;
}

input[type=password], select, textarea {
  width: 70%;
  height: 1px;
  padding: 12px;
  margin-top: 30px;
  margin-left: -12px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 36px 12px 10px 0;
  font-size: 12px;
  display: inline-block;
}

input[type=submit] {
  background-color: rgb(218, 218, 218);
  color: black;
  padding: 11px 11px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 140px;
  margin-top: 50px;
}

input[type=submit]:hover {
  background-color: rgb(203, 203, 203);
}

.container-modal {
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.container-modal .sign-up-btn {
  color: blue;
  cursor: pointer;
}

@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*DESKTOP RESOLUTION*/
@media screen and (min-width: 768px) {
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    overflow-y: hidden;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    margin-top: 130px;
    border: 1px solid #888;
    width: 30%;
    height: 60%;
    overflow-y: hidden;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
  }
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -10px;
  }
  .close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  input[type=text], select, textarea {
    width: 70%;
    height: 5px;
    padding: 12px;
    margin-top: 25px;
    margin-left: -15px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 4px;
    resize: vertical;
  }
  input[type=password], select, textarea {
    width: 70%;
    height: 5px;
    padding: 12px;
    margin-top: 25px;
    margin-left: -15px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 4px;
    resize: vertical;
  }
  label {
    padding: 30px 12px 50px 0;
    font-size: 15px;
    display: inline-block;
  }
  input[type=submit] {
    background-color: rgb(218, 218, 218);
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 170px;
    margin-top: -1px;
  }
  input[type=submit]:hover {
    background-color: rgb(203, 203, 203);
  }
  .container-modal {
    border-radius: 5px;
    background-color: white;
    padding: 20px;
  }
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  @-webkit-keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  @keyframes slideIn {
    from {
      bottom: -300px;
      opacity: 0;
    }
    to {
      bottom: 0;
      opacity: 1;
    }
  }
  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
/*FOOTER*/
/* LOW-RESOLUTION (FOR MOBILE)*/
.footer {
  background-color: rgb(237, 237, 237);
  width: 1000px;
  height: 400px;
}
.footer p {
  margin-left: -700px;
  padding-top: 30px;
  text-align: center;
}
.footer .socials-1 {
  margin-top: -360px;
  margin-left: 430px;
}
.footer .socials-1 .socials-1-img {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  padding-bottom: 19px;
  cursor: pointer;
}
.footer .socials-2 {
  margin-top: -1px;
  margin-left: 430px;
  padding-top: -200px;
}
.footer .socials-2 .socials-2-img {
  width: 24px;
  height: 24px;
  margin-left: 25px;
  padding-bottom: 10px;
  cursor: pointer;
}
.footer .subscribe p {
  margin-left: 140px;
}
.footer .row .col-mail {
  margin-left: 450px;
  margin-top: -20px;
  margin-bottom: -20px;
  width: 28%;
}
input[type=email], select, textarea {
  width: 70%;
  height: 5px;
  padding: 12px;
  margin-top: 25px;
  margin-left: 5px;
  border: 1px solid rgb(181, 181, 181);
  border-radius: 4px;
  resize: vertical;
}
.footer .row-sub {
  margin-left: 320px;
}
.footer input[type=submit]:hover {
  background-color: rgb(203, 203, 203);
}
.footer .thanks {
  margin-left: 470px;
  font-size: 15px;
  max-width: 200px;
  text-align: left;
}

/*DESKTOP RESOLUTION*/
@media screen and (min-width: 768px) {
  .footer {
    background-color: rgb(237, 237, 237);
    width: 2000px;
    height: 400px;
  }
  .footer p {
    margin-left: -1600px;
    padding-top: 30px;
    text-align: center;
  }
  .footer .socials-1 {
    margin-top: -360px;
    margin-left: 510px;
  }
  .footer .socials-1 .socials-1-img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    cursor: pointer;
  }
  .footer .socials-2 {
    margin-top: -63px;
    margin-left: 855px;
  }
  .footer .socials-2 .socials-2-img {
    width: 40px;
    height: 40px;
    margin-left: 25px;
    cursor: pointer;
  }
  .footer .subscribe p {
    margin-left: -570px;
    font-size: 25px;
  }
  .footer .row .col-75 {
    margin-left: 500px;
    margin-top: -20px;
    margin-bottom: -20px;
    width: 45%;
  }
  input[type=email], select, textarea {
    width: 112%;
    height: 5px;
    padding: 12px;
    margin-top: 25px;
    margin-left: 90px;
    border: 1px solid rgb(181, 181, 181);
    border-radius: 4px;
    resize: vertical;
  }
  .footer .row-sub {
    margin-left: 370px;
    margin-top: 50px;
  }
  .footer input[type=submit]:hover {
    background-color: rgb(203, 203, 203);
  }
  .footer .thanks {
    margin-left: 540px;
    font-size: 20px;
    max-width: 900px;
    text-align: left;
  }
}
/* SCROLL UP BUTTON */
/* LOW-RESOLUTION (FOR MOBILE)*/
#scrollbtn {
  border: none;
  background-color: white;
  cursor: pointer;
  margin-top: 300px;
  margin-left: 350px;
  margin-bottom: -100px;
}
#scrollbtn .scroll {
  width: 80px;
  height: 80px;
}

/*DESKTOP RESOLUTION*/
@media screen and (min-width: 768px) {
  #scrollbtn {
    border: none;
    background-color: white;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 1300px;
    margin-bottom: -200px;
  }
  #scrollbtn .scroll {
    width: 80px;
    height: 80px;
  }
}/*# sourceMappingURL=main.css.map */