{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/admin-page.css' %}">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo-icon-neg.ico' %}" sizes="32x32"/>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> 
    <title>WeirdoWorld</title>
</head>



<body>

    <div class="navbar" >
        <div class="container">
            <!-- The logo image can redirect you to the home page! -->
            <div class="logo">
                <a class="logo-img" href="/" title="Go back home">
                    <img src="{% static 'images/logo.png' %}" alt="WeirdoWorld logo" style="max-width:250px; max-height:220px; padding-top: 20px">
                </a>
            </div>
            <p class="header-txt">[ Website management ]</p>
        </div>
    </div>


    <br><br><br>

    <!-- Open the sidebar menu by hovering over the symbol-->
    <span class="menu-arrow" style="cursor:pointer" onmouseover="openNav()">>></span>


    <!-- Just some text -->
    <div class="main">
        <h2 class="main-title">Welcome to the admin page!</h2>
        <p class="main-txt">Here you can manage the overall functionalities of this website: </p>
        <ul class="main-list" style="list-style: none">
            <li><span>>> </span>Check footage sent by other users</li>
            <li><span>>> </span>Check comments and delete the reported ones</li>
            <li><span>>> </span>Write and delete articles</li>
        </ul>
    </div>

    
    <!-- SIDEBAR MENU -->
    <div class="sidenav" id="mySidenav" onmouseleave="closeNav()">
        <div class="list">
            <a href='footage_admin'>Footage data</a>
            <br><br>
            <a href='comm_admin'>Comments</a>
            <br><br>
            <a href='news_admin'>News articles</a>
        </div>
    </div>

    

    <!-- script -->
    <script src="{% static 'js/navigation-admin.js' %}"></script>

</body>
</html>