{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/comms.css' %}">
    <link rel="preconnect" href="{% static 'https://fonts.googleapis.com' %}">
    <link rel="preconnect" href="{% static 'https://fonts.gstatic.com' %}" crossorigin>
    <link href="{% static 'https://fonts.googleapis.com/css2?family=Karla:wght@600&display=swap' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'images/logo-icon-neg.ico' %}" sizes="32x32"/>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css"> 
    <title>WeirdoWorld</title>
</head>



<body>

    <div class="navbar" >
        <div class="container">
            <div class="logo">
                <a class="logo-img" href="/" title="Go back home">
                    <img src="{% static 'images/logo.png' %}" alt="WeirdoWorld logo" style="max-width:250px; max-height:220px; padding-top: 20px">
                </a>
            </div>

            <p class="header-txt">[ Website management ]</p>
            
        </div>
    </div>


    <br><br><br>
    <span class="menu-arrow" style="cursor:pointer" onmouseover="openNav()">>></span>

    <div class="tables">
        <em class="pending-txt">Pending requests ({{nr_pending}}) </em>
        <form method="POST" action="{% url 'comm_admin' %}">
            <table id="pending-table">
                <tr>
                <th>ID comment</th>
                <th>Associated news article</th>
                <th>Comment</th>
                <th>Sent by</th>
                <th>Date</th>
                <th>Reason for reporting</th>
                <th>Select</th>
                </tr>
                {% for c in pending_comms %}
                    <tr>
                    <td>{{c.id}}</td>
                    <td>{{c.id_news}}</td>
                    <td>{{c.comment}}</td>
                    <td>{{c.user}}</td>
                    <td style="width:30%">{{c.date_comm}}</td>
                    <td>{{c.reason_report}}</td>
                    <td><input type="checkbox" value="{{c.id}}" name="select" />&nbsp;</td>
                    </tr>
                {% endfor %}
            </table>
            <br>
            {% csrf_token %}
            <button class="select-comms" style="cursor: pointer"><i class="fa-solid fa-minus" id="minus"><span class="txt">REMOVE THE SELECTED COMMENTS</span></i></button>
        </form>
        <br><br><br><br><br><br>
        <em class="all-txt">All comments </em>
        <table id="all-table">
            <tr>
                <th>ID comment</th>
                <th>Associated news article</th>
                <th>Comment</th>
                <th>Sent by</th>
                <th>Date</th>
            </tr>
            {% for c in comments %}
                <tr>
                <td>{{c.id}}</td>
                <td>{{c.id_news}}</td>
                <td>{{c.comment}}</td>
                <td>{{c.user}}</td>
                <td style="width:30%">{{c.date_comm}}</td>
                </tr>
            {% endfor %}
        </table>
    </div>


    <div class="sidenav" id="mySidenav" onmouseleave="closeNav()">
        <div class="list">
            <a href='footage_admin'>Footage data</a>
            <br><br>
            <a href='comm_admin'>Comments</a>
            <br><br>
            <a href='news_admin'>News articles</a>
        </div>
    </div>

    <br><br><br><br><br><br>

    <!-- script -->
    <script src="{% static 'js/navigation-admin.js' %}"></script>

</body>
</html>